$red: #f3373b;
$blue: #39dcf1;
$grey: #4e4e4e;
$light-grey: #e1e1e1;
$white: #ffffff;
$black: #000000;


$profile-primary-color: $grey;
$profile-secondary-color: $red;
$profile-tertiary-color: $blue;
$profile-border-color: $light-grey;