@mixin font-dosis ($weight: 400) {
    @if $weight == 'bold' {
        $weight: 600;
    } @else {
        $weight: 400;
    }
    font-family: 'Dosis', sans-serif;
    font-weight: $weight;
}

@mixin font-work-sans($weight: 400) {
    @if $weight == 'bold' {
        $weight: 700;
    } @else {
        $weight: 400;
    }
    font-family: 'Work Sans', sans-serif;
    font-weight: $weight;
}

@mixin global-border($border-top: true, $border-bottom: false) {
    $border-style: 3px solid $profile-border-color;
    
    @if $border-top {
        border-top: $border-style;
    }

    @if $border-bottom {
        border-bottom: $border-style;
    }
}