@import './fonts.scss';
@import './colour.scss';

%dosis {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

%dosis-bold {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

%work-sans {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

%work-sans-bold {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

html,
body {
    padding: 0;
    margin: 0;
    color: $primary-color;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    @extend %dosis-bold;
    margin-bottom: 1rem;
}

h1, .h1 {
    font-size: 32px;
}

h2, .h2 {
    font-size: 24px;
}

p,
.body-copy {
    @extend %work-sans;
    margin: 0;
    margin-bottom: 1rem;
}

.secondary-color {
    color: $secondary-color;
}

.tertiary-color {
    color: $tertiary-color
}