html,
body {
    padding: 0;
    margin: 0;
    color: $profile-body-color;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    @include font-dosis(bold);
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 0;
    color: $profile-heading-color;    
}

h1, .h1 {
    font-size: 32px;
}

h2, .h2 {
    font-size: 24px;
}

h3, .h3 {
    font-size: 20px;
}

h4, .h4 {
    font-size: 18px;
}

h5, .h5 {
    font-size: 16px;
}

p,
.body-copy {
    @include font-open-sans();
    letter-spacing: .025rem;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 1rem;
}

a {
    @include font-dosis(bold);
    color: $profile-heading-color;

    &:hover,
    &:focus,
    &:active {
        color: $profile-tertiary-color;
    }
}

b,
strong,
em {
    @include font-open-sans('bold');
}

.secondary-color {
    color: $profile-secondary-color;
}

.tertiary-color {
    color: $profile-tertiary-color
}

.text-center {
    text-align: center;
}