@import '../../../styles/all-includes';

.navigation-item {

    &__link {
        @include font-dosis (bold);
        @include global-border();
        text-decoration: none;
        color: $profile-heading-color;
        padding: 5px 0 5px 3px;
        display: block;
        transition: all 0.3s ease-in;
        position: relative;
        left: 0;
        
        &:hover,
        &:focus,
        &:active {
            color: $profile-tertiary-color;
            padding-left: 10px;
        }

        &--active {
            background-color: lighten($profile-tertiary-color,38%);
        }
    }
}