@import '../../../styles/colour';
@import '../../../styles/mixin';

.navigation-item {

    &__link {
        @include font-dosis (bold);
        border-top: 3px solid $border-color;
        text-decoration: none;
        color: $primary-color;
        padding: 8px 0 8px 3px;
        display: block;
        transition: all 0.3s ease-in;
        position: relative;
        left: 0;
        
        &:hover,
        &:focus,
        &:active {
            color: $tertiary-color;
            padding-left: 10px;
        }

        &--active {
            background-color: lighten($tertiary-color,38%);
        }
    }
}